/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #DB0007;
}

main {
  padding: 25px;
}

.navbar-dark {
  background-color: #4e7113;
  padding-left: 20px;
  /* min-height: 20px; */
}

h1, i {
  color: #063672;
  padding: 4px;
}

i:hover {
  color: #DB0007;
}

.nav-link {
  color: #FFFFFF;
}

fieldset {
  border: none;
  margin: 5px;
}

label {
  width: 130px;
}

thead {
  color: #FFFFFF;
  background-color: #063672;
}

#imgShowHide {
  cursor: pointer;
}
main{
  /* background-image: url(../images/banner.jpg); */
  background-size: cover;
  height: 770px;
}
.bg-translucent{
  background-color: #ffffffb2;
  }
.home-loud{
  font-size: 120px;
  color: white;
  font-family: 'Abril Fatface', cursive;
  filter: drop-shadow(0 0 0.75rem #4caf50);
}
.drop{
  filter: drop-shadow(0 0 0.75rem #4caf50);
}