<div class="container">
    <div class="row">
        <div class="col-sm-6 p-2 bg-white">
            <h1>Welcome Wanders</h1>
            <p class="lead">
                This is the first line in the jumbotron.<br>
                The second line appears underneath the first line.
            </p>
            <button type="button" class="btn btn-primary">Chat With Us</button>
        </div>
    </div>
</div>