<div class="container-fluid pt-5 home-loud-bg">
    <h1 class="display-1 home-loud">
        “Work, Travel, Save, Repeat”
    </h1>
    <p class="lead text-center text-white drop">One’s destination is never a place, but a new way of seeing things.</p>
</div>